<%- include('./partials/header') %>
<%- include('./partials/navbar') %>

<link rel="stylesheet" href="/stylesheets/style.css">

<h1 class="head1">On this website you will be able to learn different recipes and share your recipe ideas!</h1>

<h3 class="head3"> Head to recipes section to check out the existing recipes or suggest your own recipe in Add Your Own tab</h3>
</body>
</html>